# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
logs/
*.log

# Database
database/*.db

# Model artifacts (optional)
*.pkl

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db