# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.py[cod]
*.pyo

# --------------------------------------------------
# Virtual Environments
# --------------------------------------------------
.env
.venv/
venv/

# --------------------------------------------------
# Jupyter
# --------------------------------------------------
.ipynb_checkpoints/

# --------------------------------------------------
# VS Code
# --------------------------------------------------
.vscode/

# --------------------------------------------------
# Logs
# --------------------------------------------------
logs/
*.log

# --------------------------------------------------
# Database
# --------------------------------------------------
database/*.db

# --------------------------------------------------
# Model Artifacts
# --------------------------------------------------
*.pkl
*.joblib

# --------------------------------------------------
# Test & Coverage
# --------------------------------------------------
.pytest_cache/
.coverage
htmlcov/

# --------------------------------------------------
# Build Artifacts
# --------------------------------------------------
build/
dist/
*.egg-info/

# --------------------------------------------------
# Operating System Files
# --------------------------------------------------
.DS_Store
Thumbs.db